.heatmap-container {
  display: grid;
  grid-template-columns: repeat(
    10,
    1fr
  ); /* Adjust the number of columns as per your data */
  grid-template-rows: repeat(
    1,
    1fr
  ); /* Adjust the number of rows as per your data */
  width: 100%;
  height: 100vh;
}

.heatmap-rectangle {
  width: 100%;
  height: 100%;
  background-color: #eee;
  box-sizing: border-box;
}
